[user]
	name = Gusakov Nikita
	email = dev@nkt.me
[push]
  default = simple
[color]
  ui = true
[alias]
  c = commit
  b = branch
  r = remote
  go = checkout -b
  co = checkout
  st = status
  sst = status --short
  aa = add --all
  hist = log --graph --all --format=format:'%C(bold blue)%h%C(reset) — %C(bold green)(%ar)%C(reset) %C(black)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
[core]
	excludesfile = ~/.gitignore_global
