"*":
  "atom-ide-ui":
    "atom-ide-code-format": {}
  "atom-package-deps":
    ignored: []
  "atom-pair": {}
  "autocomplete-go": {}
  "autocomplete-modules":
    webpack: false
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "text.ignore": [
        ".dockerignore"
      ]
    disabledPackages: [
      "atom-pair"
      "atom-ternjs"
      "Parinfer"
      "postcss-sorting"
      "stylefmt"
      "linter-stylelint"
      "whitespace"
      "language-javascript"
      "linter"
      "linter-eslint"
      "linter-ui-default"
      "ide-typescript"
      "ide-flowtype"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "build"
      "dist"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    softWrap: true
  "exception-reporting":
    userId: "cb2dbf3a-3ed1-586a-0ad4-b76b14f4eb4e"
  "fuzzy-finder": {}
  "highlight-selected": {}
  "ide-flowtype":
    autoDownloadFlowBinaries: false
    tryFlowBin: true
  linter: {}
  "linter-flow": {}
  "linter-ui-default":
    panelHeight: 69
  motepair: {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  nuclide:
    "nuclide-flow":
      canUseFlowBin: true
      lazyServer: true
    "nuclide-home":
      showHome: false
  pigments:
    markerType: "native-background"
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      singleQuote: true
    useEslint: true
  stylefmt:
    formatOnSave: true
  tabs: {}
  "terminal-plus":
    core: {}
    style:
      theme: "dracula"
  "tool-bar":
    iconSize: "16px"
  "tree-view":
    alwaysOpenExisting: true
  welcome:
    showOnStartup: false
".hgignore.ignore.text":
  editor:
    preferredLineLength: 100
".ignore.slugignore.text":
  editor:
    preferredLineLength: 100
".ignore.text":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 100
