'.source.js':
  'log':
    prefix: 'log'
    body: 'console.log($1);'
  'Arrow function':
    prefix: '=>'
    body: '($1) => {\n  $2\n}'
  'Promise':
    prefix: 'Promise'
    body: 'new Promise((resolve, reject) => {\n  $1\n});'
  'then':
    prefix: 'then'
    body: 'then(($1) => {\n  $2\n})${3:;}'
  'catch':
    prefix: 'catch'
    body: 'catch((${1:error}) => {\n  $2\n})${3:;}'
  'forEach':
    prefix: 'for'
    body: 'forEach((${1:item}) => {\n  $2\n})${3:;}'
  'map':
    prefix: 'map'
    body: 'map((${1:item}) => {\n  $2\n})${3:;}'
  'filter':
    prefix: 'filter'
    body: 'filter((${1:item}) => {\n  $2\n})${3:;}'
  'this':
    prefix: '@'
    body: 'this.'
  'require':
    prefix: 'r'
    body: "const ${1:$2} = require('$1');"
  'require local':
    prefix: 'r.'
    body: "const ${1:$2} = require('./$1');"
  'module exports':
    prefix: 'me'
    body: 'module.exports = $1;'
  'it':
    prefix: 'it'
    body: '''
it('${1:should $2}', () => {
  ${3:// code}
});
'''
  'describe':
    prefix: 'desc'
    body: '''
describe('${1:something}', () => {
  it('${2:should $3}', () => {
    ${4:// code}
  });
});
'''
  'React create component':
    prefix: 'rcc'
    body: '''
import React, { Component, PropTypes } from 'react';

class $1 extends Component {
  render() {
    return (
      ${2:<div>$3</div>}
    );
  }
}

export default $1;
'''
