[user]
  name = Nikita Gusakov
  email = gusnkt@gmail.com
	signingkey = 7C79E534

[apply]
  whitespace = fix

[push]
  default = current
	followTags = true

[commit]
	sign = true

[color]
  ui = true

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[mergetool]
	keepBackup = false

[alias]
  c = commit
  b = branch
  r = remote
  s = status --short
  cm = commit -m
  cam = commit -am
  tags = tag -l
  co = checkout
  go = checkout -b
  st = status
  aa = add --all
  undo = reset --soft HEAD^
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  amend = commit --amend --no-edit
  rmb = "!git branch --merged | grep -v '*' | grep -v 'master' | xargs -n 1 git branch -d"

[core]
  editor = subl -w
  trustctime = false
  excludesfile = ~/.gitignore_global

# URL shorthands
# gh:nkt/dotfiles
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
  pushInsteadOf = "git://github.com/"

# gist:3928760
[url "git@gist.github.com:"]
  insteadOf = "gist:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
