[user]
  name = Nikita Gusakov
  email = dev@nkt.me

[apply]
  whitespace = fix

[push]
  default = current

[color]
  ui = true

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[alias]
  c = commit
  cm = commit -m
  cam = commit -am
  tags = tag -l
  b = branch
  r = remote
  go = checkout -b
  co = checkout
  st = status
  s = status --short
  aa = add --all
  undo = reset --soft HEAD^
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
  excludesfile = ~/.gitignore_global
  trustctime = false
  editor = subl -w

# URL shorthands
# gh:nkt/dotfiles
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
  pushInsteadOf = "git://github.com/"

# gist:3928760
[url "git@gist.github.com:"]
  insteadOf = "gist:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
